[submodule "AppFrame"]
	path = AppFrame
	url = https://github.com/amg28nozomi/AppFrame.git

　まず一つ目は、新しい物事に挑戦できる環境です。著しい技術的進歩を続けるゲーム業界において、ユーザーの求めるクオリティは年々高まっています。クオリティを高めるためには市場の動向を見極め、最新技術の研究・導入を行うことが大切であると考えています。そのため、新しい技術に積極的に取り組める環境を求めています。
　二つ目は、社内勉強会が活発に行われていることです。前述した通り、最新技術を取り入れる上で、技術的なスキルアップを図る勉強会や技術交流は、必要不可欠なものであると考えています。またそうした場は社員同士の交流の場になり、社内コミュニケーションの促進に繋がります。
　三つ目は、仕事の成果・スキルアップを実感できる環境です。この二点の実感を得られることはモチベーションの向上に繋がり、さらなるスキルアップを見込めると考えています。


・問題点
遷移時の問題点：アニメーション終了時に処理を実行→次フレームも終了フラグがオンのままなので終了処理が実行される
！　